services:
  db:
    image: postgres:16
    container_name: lucas-postgres
    environment:
      POSTGRES_DB: lucasbot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
